.profile__job {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  grid-area: job;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__job {
    text-align: center;
  }
}

@media (max-width: 398px) {
  .profile__job {
    font-size: 14px;
  }
}
